
<%= simple_form_for [current_user, @curriculum],
  wrapper: :vertical_form do |f| %>
  <%= f.input :title,
    placeholder: "e.g. Astronomy 101" %>

  <%= f.input :subtitle,
    placeholder: "e.g. Learn the basics of the universe." %>

  <%= f.input :description,
    placeholder: "e.g. Know thyself and awesome knowledge too!" %>

  <%= f.submit class: "btn btn-success" %>

  <%= add_resources_link(@curriculum) %>

  <%= delete_curriculum_link(@curriculum) %>

  <!-- TODO extract css -->
  <div style="padding-top: 20px">
    <%= will_paginate @resources %>

    <% index = 0 %>
    <%= f.simple_fields_for :curriculums_resources do |cr_fields| %>
      <%= render 'resources/resource', resource: cr_fields.object.resource,
        order_field: (cr_fields.input :order,
                      input_html: { min: 1,
                                    max: @resources.length }) %>
      <% index += 1 %>
    <% end %>

    <%= will_paginate @resources %>
  </div>

<% end %>
