
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-8">
        <h3><%= link_to(curriculum.title.titleize, curriculum_path(curriculum)) %></h3>
        <p><%= curriculum.subtitle %></p>
        <p><i>by <%= curriculum.creator_name %></i></p>
      </div>

      <div class="col-xs-4">
  
        <%= edit_curriculum_link(curriculum) %>


        <%= copy_curriculum_link(curriculum.id) %>

      </div>

    </div>
  </div>
</div>
