
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-8">
        <h3><%= link_to(curriculum.title.titleize, curriculum_path(curriculum)) %></h3>
        <p><%= curriculum.subtitle %></p>
        <p><i>by <%= curriculum.creator_name %></i></p>
      </div>

      <div class="col-xs-4">
        <!--TODO: tags-->
        <p>Programming, Algorithms</p>
        <div class="row">
          <div class="col-xs-6">
            <!--TODO: feedback completion average-->
            <p>~10 hrs</p>
          </div>
          <div class="col-xs-6">
            <!--TODO: feedback score average-->
            <p>8.1/10</p>
            <p>Score</p>
          </div>
        </div>


        <%= edit_curriculum_link(curriculum) %>


        <%= copy_curriculum_link(curriculum.id) %>

      </div>

    </div>
  </div>
</div>
