

<div class="jumbotron">
  <h1><%= @curriculum.title %></h1>
  <div class="row">
    <div class="col-xs-8">
      <p><%= @curriculum.subtitle  %></p>
      <p>Created by <%= link_to "#{@curriculum.creator_name}", @curriculum.creator %></p>
    </div>

    <div class="col-xs-4">
      <p><strong><%= @curriculum.category_name.titleize %></strong></p>

      <!-- TODO: Add curriculum accumulated tags? -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <p><%= @curriculum.attribute_average(:rating) %>/10<br>
        Score</p>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="thumbnail">
      <p><%= @curriculum.attribute_average(:difficulty) %>/10<br>
      Difficulty</p>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="thumbnail">
      <p><%= display_time(@curriculum) %></p>
    </div>
  </div>

</div>
 
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-8">
        <%= @curriculum.description %>
      </div>
    </div>
  </div>
</div>


<ul class="nav nav-tabs tab-box-top">
  <li role="presentation" class="active"><%= link_to 'Everything',
      curriculum_path(@curriculum) %></li>
  <% if current_user && current_user.copied_curriculums.include?(@curriculum)%> 
    <li role="presentation" ><%= link_to 'Upcoming', "#" %></li>
    <li role="presentation" ><%= link_to 'Progress', "#" %></li>
  <% else %>
    <li role="presentation"><%= link_to 'Add Curriculum!',
      copy_curriculum_link(@curriculum.id) %></li>
  <% end %>
</ul>


<div class="panel panel-default">
  <div class="panel-body">
    <%= render @resources %>
  </div>
</div>

 


<% @curriculum.comments.each do |comment| %>
  <%= render partial: "shared/comment", locals: { comment: comment } %>
<% end %>

<div class="row">

  <div class="col-xs-12">
    <%= render partial: "shared/comment_form", locals:
      { comment_path: url_for([@curriculum, :comments]) } %>
  </div>

</div>
