<%= render partial: 'shared/top_show', locals: { show_object: @curriculum, tags: @tags } %>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-8">
        <%= @curriculum.description %>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render @resources %>
  </div>
</div>

<% @curriculum.comments.each do |comment| %>
  <%= render partial: "shared/comment", locals: { comment: comment } %>
<% end %>

<div class="row">

  <div class="col-xs-12">
    <%= render partial: "shared/comment_form", locals:
      { comment_path: url_for([@curriculum, :comments]) } %>
  </div>

</div>
