
<%= form_tag resources_path,
                            class: "navbar-form navbar-left navbar-form-low",
                            style: "margin-left: 25%",
                            method: "get" do %>

  <div class="form-group">
    <%= text_field_tag :q, nil, placeholder: 'Search for',
                        class: "form-control" %>
  </div>

  <div class="form-group">
    <%= select_tag :category_id,
      options_from_collection_for_select(Category.all, "id", "name" ),
      include_blank: "Category",
      class: "form-control" %>
  </div>

  <div class="form-group">
  <%= select_tag :tag_id,
    options_from_collection_for_select(Tag.all, "id", "name" ),
      include_blank: "Tag",
    class: "form-control" %>
  </div>

  <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>

