
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">

      <div class="col-xs-8">
        <!-- Denotes that your editing -->
        <% if params[:user_id] && @curriculum %>
          <%= order_field %>
        <% end %>
        <h3><%= link_to resource.title.titleize, resource_path(resource) %></h3>
        <p><%= resource.subtitle %></p>
        <p><i>by <%= resource.submitter.username %></i></p>
      </div>

      <div class="col-xs-4">
        <!--TODO: tags-->
        <p>Programming, Algorithms</p>
        <div class="row">
          <div class="col-xs-6">
            <p><%= display_time(resource) %></p>
          </div>
          <div class="col-xs-6">
            <p><%= resource.attribute_average(:rating) %>/10<br>
            Score</p>
          </div>
        </div>

        <!-- params[:id] == curriculum id on curriculum edit page -->
        <% if curriculum_id = (session[:curriculum_id] || (params[:user_id] && @curriculum)) %>
          <%= curriculum_resource_toggle_link(curriculum_id, resource.id) %>
        <% elsif @curriculum && current_user %>
          <%= mark_complete_button( resource.id ) %>
        <% end %>


        <%= resource_url(resource) %>

      </div>

    </div>
  </div>
</div>
