
<%= render 'shared/editing_header' %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <div class="btn-group" role="group">
      <%= link_to 'Resources', resources_path,
        class: 'btn btn-default active' %>
      <%= link_to 'Curriculums', curriculums_path,
        class: 'btn btn-default' %>
      <%= link_to 'Share Resource', new_resource_path,
        class: 'btn btn-default' %>
      <%= link_to 'Create Curriculum', new_curriculum_path,
        class: 'btn btn-default' %>
    </div>

    <hr>

    <% if !@resources.empty? %>
      <%= will_paginate @resources %>
      <%= render @resources %>
      <%= will_paginate @resources %>
    <% else %>
      <h3 class="text-muted">Be the first to share a learning resource!</h3>
    <% end %>

  </div>
</div>
