
<div class="jumbotron">

  <div class="row">

    <div class="col-xs-8">
      <h1><%= @resource.title %></h1>
      <p><%= @resource.subtitle  %></p>
      <p>Credit: <%= @resource.credits %></p>
      <% @resource.links.each do |link| %>
      <a href="<%=link.url%>"><%= link.url %></a>
      <% end %>
    </div>

    <div class="col-xs-4">
      <p>Category: <strong><%= @resource.category.name %></strong></p>
      <% @tags.each do |tag| %>
      <%= tag.name %>
      <% end %>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <p><%= @resource.attribute_average(:rating) %>/10<br>
        Score</p>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="thumbnail">
        <p><%= @resource.attribute_average(:difficulty) %>/10<br>
          Difficulty</p>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="thumbnail">
          <p><%= display_time(@resource) %></p>
        </div>
      </div>

    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <%= @resource.description %>
          </div>
        </div>
      </div>
    </div>
    

  </div>

</div>
