
<%#= render partial: "resources/resource", locals: { resource: @resource } %>
<div class="jumbotron">

  <div class="row">

    <div class="col-xs-8">
      <h1><%= @resource.title %></h1>
      <p><%= @resource.subtitle  %></p>
      <p>Credit: <%= @resource.credits %></p>
      <% @resource.links.each do |link| %>
        <a href="<%=link.url%>"><%= link.url %></a>
      <% end %>
    </div>

    <div class="col-xs-4" id="category_column">
      <div class="category_block">
        <p>Category: <strong><%= @resource.category.name %></strong></p>
        <p>Tags:
          <% @tags.each do |tag| %>
            <span id="tag_box">
              <%= tag.name %>
            </span>
          <% end %>
        </p>
      </div>
    </div>

  </div>

</div>

<div class="row text-center" id="stats-container">
  <div class="col-xs-4">
    <div class="thumbnail">
      <%= image_tag("interface.png", class: "icon") %>
      <p><%= @resource.attribute_average(:rating) %>/10<br>
        Value Score</p>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="thumbnail">
        <%= image_tag("circle.png", class: "icon" ) %>
        <p><%= @resource.attribute_average(:difficulty) %>/10<br>
          Difficulty Score</p>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="thumbnail">
          <%= image_tag("clock.png", class: "icon") %>
          <p><%= display_time(@resource).gsub(/\n/, '<br/>').html_safe %></p>
        </div>
      </div>

    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <%= @resource.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
<p>Icons designed by Google from Flaticon</p>
</div>
