
<%= form_for [@resource, @feedback], html: {class: 'form-horizontal'} do |fb_fields| %>

  <!-- TODO: fix alignment! -->
  <div class="form-group">
    <%= fb_fields.label "What's the difficulty level?", class: 'col-sm-5 control-label text-left' %>

    <div class="col-sm-7">
      <%= fb_fields.collection_radio_buttons :difficulty, (1..10).map{|n| [n, n]}, :first, :last do |b|
                                  b.label(class: "radio-inline"){ b.radio_button + b.label }
                                end %>
    </div>

  </div>

  <div class="form-group">
    <%= fb_fields.label "How would you rate the overall quality?", class: 'col-sm-5 control-label' %>

    <div class="col-sm-7">
      <%= fb_fields.collection_radio_buttons :rating, (1..10).map{|n| [n, n]}, :first, :last do |b|
                                  b.label(class: "radio-inline"){ b.radio_button + b.label }
                                end %>
    </div>

  </div>

  <div class="form-group">
    <%= fb_fields.label "How long does it take to complete? (minutes)", class: 'col-sm-5 control-label' %>

    <div class="col-sm-7">
      <%= fb_fields.number_field :completion_minutes, min: 1, class: 'form-control' %>
    </div>

  </div>

  <div class="pull-right">
    <%= fb_fields.submit  class: 'btn btn-success' %>
    <%= link_to "Skip", user_shared_path(current_user), class: "btn btn-primary" %>
  </div>


<% end %>
